<section id="project-area" class="pro-fullwidth-area">
    <div class="container-fluid">
        
        <div class="row project-content masonary-layout filter-layout">
          {% for row in rows %}
                {{ row.content }}
            {% endfor %} 
           
        </div>
        
    </div>
</section>        
           
            
            
            
        

































