<section class="shop-area">
    <div class="container">
        {#<div class="row showing-result-shorting">
            <div class="col-md-12">
                <div class="showing pull-left">
                    <p>Showing 1-12 of 15 results</p>
                </div>
                <div class="shorting pull-right">
                    <select class="selectmenu">
                        <option selected="selected">Default Sorting</option>
                        <option>Default Sorting one</option>
                        <option>Default Sorting Two</option>
                        <option>Default Sorting Three</option>
                    </select>
                </div>      
            </div>
        </div>#}
        <div class="row">
         
            {% for row in rows %}
                {{ row.content }}
            {% endfor %}
           
            
            
        </div>
        
    </div>
</section>                 

           
           
           
           
         





































