<section class="testimonial-area">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Customers Feedback</h2>
            <span class="border"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="testimonials-carousel">


                    {% for row in rows %}
                        {{ row.content }}
                    {% endfor %}  
                </div>
            </div>
        </div>
    </div>
</section>








































