
{% include theme_path ~ "/templates/header.html.twig" %}
{% include theme_path ~ "/templates/page-title.html.twig" %}

<section class="contact-v2-area">
    <div class="container">
        <div class="row">
            {{page.contact2}}
            <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12">
                <div class="google-map-area">
                    {{page.map}}

                </div>
            </div>
        </div> 
    </div>
</div>
</section>              


<section class="contact-v2-form-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contact-v2-form">
                    <div class="sec-title text-center">
                        <h2>Send Your Message</h2>
                        <p> We've distilled our interior design process into 4 Steps – the same steps we have been using for more than 41 years, In this steps, the designer visits your home to gather more.</p>
                    </div>
                    {{page.contact2_form}}
                </div>
            </div>
        </div>
    </div>
</section>   

{% include theme_path ~ "/templates/footer.html.twig" %}