<div class="single-sidebar-item">
    <div class="sec-title text-left">
        <h3>Top Rated products</h3>
        <span class="decor"></span>
    </div>
    <ul class="top-rated-products">


        {% for row in rows %}
            {{ row.content }}
        {% endfor %}
    </ul>
</div>
















































