<section class="latest-blog-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title pull-left">
                    <h2>Latest <span>News</span></h2>
                    <span class="decor"></span>
                </div>
               
            </div>
        </div>   
        <div class="row">
          {% for row in rows %}
        {{ row.content }}
    {% endfor %} 
            
        </div>
    </div>
</section>

































