<div class="single-sidebar">
    <div class="sidebar-title">
        <h1>Recent Posts</h1>
    </div>
    <ul class="recent-post">

        {% for row in rows %}
            {{ row.content }}
        {% endfor %}  
    </ul>
</div>



































